body {
    background-image: url(images/Background.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#redberry {
    width: 326px;
    height: 38px;
    margin-bottom: 26px;
}

#header_box {
    border-bottom: solid 1px #1A1A1A;
    margin: 25px 70px 0 25px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 424px;
   
}

#btn {
    width: 464px;
    height: 60px;
    font-size: 20px;
    background-color: #1A1A1A;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
}

